@charset "UTF-8";
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
@media not screen and (min-width: 768px) {
  html {
    scroll-padding-top: 60px;
  }
}

body {
  color: #333;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}

a,
button,
input[type=submit] {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
a:hover,
button:hover,
input[type=submit]:hover {
  opacity: 0.7;
}

.section {
  padding-block: 100px 120px;
  background: #fff;
}
@media not screen and (min-width: 768px) {
  .section {
    padding-block: 60px 80px;
  }
}
.section--gray {
  background: #efefef;
}

.inner {
  padding-inline: 40px;
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}
@media not screen and (min-width: 768px) {
  .inner {
    padding-inline: 20px;
  }
}

.head {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 14px;
  position: relative;
}
@media not screen and (min-width: 768px) {
  .head {
    font-size: 32px;
    padding-bottom: 8px;
  }
}
.head::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background: #3f51b5;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.inline-block {
  display: inline-block;
  font-weight: inherit;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  background: #3f51b5;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1607843137);
  z-index: 100;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media not screen and (min-width: 768px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 205px;
}
@media not screen and (min-width: 768px) {
  .header__logo {
    width: 182px;
  }
}
.header__logo img {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media not screen and (min-width: 768px) {
  .header__nav {
    display: none;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header__item a {
  display: inline-block;
  color: #ffffff;
  position: relative;
}
.header__item a.is-active::after {
  content: "";
  position: absolute;
  width: calc(100% - 3px);
  height: 2px;
  background: #e81919;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__icon {
  position: relative;
  display: none;
}
@media not screen and (min-width: 768px) {
  .header__icon {
    display: block;
    width: 32px;
    height: 24px;
  }
}
.header__icon.is-opened .header__icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 11px;
}
.header__icon.is-opened .header__icon-bar:nth-child(2) {
  display: none;
}
.header__icon.is-opened .header__icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 11px;
}

.header__icon-bar {
  position: absolute;
  width: 32px;
  height: 2px;
  background: #ffffff;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__icon-bar:nth-child(1) {
  top: 0;
}
.header__icon-bar:nth-child(2) {
  top: 11px;
}
.header__icon-bar:nth-child(3) {
  top: 22px;
}

.drawer {
  position: fixed;
  z-index: 200;
  background: #3f51b5;
  width: 100%;
  height: 100vh;
  top: 60px;
  left: 0;
  padding-top: 60px;
  display: none;
  opacity: 0.9;
}
@media not screen and (min-width: 768px) {
  .drawer.is-opened {
    display: block;
  }
}

.drawer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.drawer__item {
  color: #ffffff;
  font-weight: 700;
}

.mv {
  width: 100%;
  background: url("../img/mainvisual.png") no-repeat center center/cover;
  margin-top: 100px;
  padding-block: 184px;
}
@media not screen and (min-width: 768px) {
  .mv {
    margin-top: 60px;
    padding-block: 120px;
  }
}

.mv__content {
  text-align: center;
  padding-inline: 16px;
}

.mv__title {
  font-size: 64px;
  font-weight: 700;
}
@media not screen and (min-width: 768px) {
  .mv__title {
    font-size: 32px;
    line-height: 1.3;
  }
}

.mv__lead {
  margin-top: 32px;
  font-size: 24px;
  font-weight: 700;
}
@media not screen and (min-width: 768px) {
  .mv__lead {
    margin-top: 18px;
    font-size: 18px;
  }
}

.mv__button {
  margin-top: 40px;
}
@media not screen and (min-width: 768px) {
  .mv__button {
    margin-top: 36px;
  }
}
.mv__button a {
  display: inline-block;
  padding-block: 24px;
  width: 384px;
  max-width: 100%;
  color: #ffffff;
  background-color: #3f51b5;
  font-size: 24px;
  font-weight: 700;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 8px;
}
@media not screen and (min-width: 768px) {
  .mv__button a {
    padding-block: 16px;
    width: 240px;
    font-size: 18px;
  }
}

.card__list {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
@media not screen and (min-width: 768px) {
  .card__list {
    margin-top: 40px;
    grid-template-columns: 1fr;
    width: 360px;
    max-width: 100%;
    margin-inline: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .card__list {
    grid-template-columns: repeat(2, 1fr);
    width: 750px;
    max-width: 100%;
    margin-inline: auto;
  }
}

.card__item a {
  display: block;
  padding: 16px;
  background: #ffffff;
  border-radius: 4px;
}

.card__title {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #6f7579;
}
@media not screen and (min-width: 768px) {
  .card__title {
    font-size: 18px;
  }
}

.card__lead {
  margin-top: 4px;
  font-weight: 700;
  color: #6f7579;
}
@media not screen and (min-width: 768px) {
  .card__lead {
    font-size: 14px;
  }
}

.news__list {
  margin-top: 80px;
  width: 800px;
  max-width: 100%;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media not screen and (min-width: 768px) {
  .news__list {
    margin-top: 40px;
  }
}

.news__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media not screen and (min-width: 768px) {
  .news__article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
  }
}
.news__article:not(:last-of-type) {
  padding-bottom: 12px;
  border-bottom: 1px solid #707070;
}

.news__meta {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.news__date {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 85px;
}

.news__label {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 700;
  line-height: 1.4375;
  color: #ffffff;
  background: #666666;
  padding: 8px;
  border-radius: 4px;
}
@media not screen and (min-width: 768px) {
  .news__label {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    font-size: 14px;
    padding: 6px;
  }
}
.news__label--2 {
  background: #3f51b5;
}
.news__label--3 {
  background: #e81919;
}

.news__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.news__title a {
  display: inline-block;
  line-height: 1.25;
}

.news__button {
  margin-top: 60px;
  text-align: center;
}
.news__button a {
  display: inline-block;
  padding-right: 14px;
  font-weight: 700;
  color: #e81919;
  position: relative;
}
.news__button a::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 11px;
  background: url("../img/news-arrow.svg") no-repeat center center/contain;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.price__content {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
@media not screen and (min-width: 768px) {
  .price__content {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media not screen and (min-width: 768px) {
  .price__image {
    width: 100%;
  }
  .price__image img {
    width: 100%;
  }
}

.price__info {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 58.8333333333%;
}
@media not screen and (min-width: 768px) {
  .price__info {
    width: 100%;
  }
}

.price__table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
.price__table th,
.price__table td {
  border: 1px solid #707070;
  vertical-align: middle;
  font-weight: 700;
  line-height: 1.375;
  padding-inline: 24px;
  height: 57px;
}
@media not screen and (min-width: 768px) {
  .price__table th,
  .price__table td {
    padding-inline: 8px;
  }
}
.price__table th:first-child,
.price__table td:first-child {
  width: 24.0793201133%;
}
.price__table th {
  background: #999999;
  color: #ffffff;
}
.price__table td {
  background: #ffffff;
  text-align: right;
}
.price__table strong {
  display: block;
  color: #e81919;
  font-weight: inherit;
}
.price__table span {
  display: block;
  font-size: 13px;
  font-weight: inherit;
}

.price__note {
  margin-top: 12px;
}
.price__note a {
  font-weight: 700;
  text-decoration: underline;
}

.access__inner {
  width: 880px;
}

.access__map {
  margin-top: 80px;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
@media not screen and (min-width: 768px) {
  .access__map {
    margin-top: 40px;
    height: 320px;
  }
}
.access__map iframe {
  width: 100%;
  height: 100%;
}

.access__info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  line-height: 1.2;
}
@media not screen and (min-width: 768px) {
  .access__info div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.access__info dt {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 104px;
  font-weight: 700;
}
.access__info dd {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media not screen and (min-width: 768px) {
  .access__info dd {
    margin-top: 8px;
  }
}

.access__button {
  margin-top: 30px;
  text-align: center;
}
.access__button a {
  display: inline-block;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  background: #3f51b5;
  padding: 20px 77px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  position: relative;
}
@media not screen and (min-width: 768px) {
  .access__button a {
    padding: 20px 40px;
  }
}
.access__button a::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 16px;
  background: url("../img/button-arrow.png") no-repeat center center/contain;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 12px;
}

.contact__box {
  margin-top: 80px;
  width: 800px;
  max-width: 100%;
  margin-inline: auto;
  background: #ffffff;
  padding: 60px;
}
@media not screen and (min-width: 768px) {
  .contact__box {
    margin-top: 40px;
    width: 100%;
    padding: 40px 16px;
  }
}

.form__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
@media not screen and (min-width: 768px) {
  .form__fields {
    gap: 33px;
  }
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
@media not screen and (min-width: 768px) {
  .form__field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
}

.form__head {
  margin-top: 11px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 128px;
  position: relative;
}
@media not screen and (min-width: 768px) {
  .form__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    width: 100%;
  }
}

.form__label {
  display: block;
  position: relative;
  font-weight: 700;
}

.form__tag {
  position: absolute;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.1;
  border-radius: 4px;
  background: #e81919;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(calc(100% + 8px));
          transform: translateY(calc(100% + 8px));
  padding: 4px 8px;
}
@media not screen and (min-width: 768px) {
  .form__tag {
    position: relative;
    -webkit-transform: none;
            transform: none;
  }
}

.form__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form__text {
  width: 100%;
  font-size: 14px;
  padding: 12px 16px;
  line-height: 1;
  border: 1px solid #707070;
  border-radius: 0;
}
.form__text::-webkit-input-placeholder {
  color: #cccccc;
}
.form__text::-moz-placeholder {
  color: #cccccc;
}
.form__text:-ms-input-placeholder {
  color: #cccccc;
}
.form__text::-ms-input-placeholder {
  color: #cccccc;
}
.form__text::placeholder {
  color: #cccccc;
}
.form__text:focus {
  outline: none;
  border-color: #e81919;
}

.form__select {
  width: 100%;
  font-size: 14px;
  padding: 12px 16px;
  border: 1px solid #707070;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../img/select-arrow.png") no-repeat center center/contain;
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 17px auto;
}
.form__select::-webkit-input-placeholder {
  color: #cccccc;
}
.form__select::-moz-placeholder {
  color: #cccccc;
}
.form__select:-ms-input-placeholder {
  color: #cccccc;
}
.form__select::-ms-input-placeholder {
  color: #cccccc;
}
.form__select::placeholder {
  color: #cccccc;
}
.form__select:focus {
  outline: none;
  border-color: #e81919;
}

.form__textarea {
  width: 100%;
  font-size: 14px;
  padding: 12px 16px;
  height: 240px;
  resize: vertical;
  border: 1px solid #707070;
  border-radius: 0;
}
.form__textarea::-webkit-input-placeholder {
  color: #cccccc;
}
.form__textarea::-moz-placeholder {
  color: #cccccc;
}
.form__textarea:-ms-input-placeholder {
  color: #cccccc;
}
.form__textarea::-ms-input-placeholder {
  color: #cccccc;
}
.form__textarea::placeholder {
  color: #cccccc;
}
.form__textarea:focus {
  outline: none;
  border-color: #e81919;
}

.form__radios {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
}
@media not screen and (min-width: 768px) {
  .form__radios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
}

.form__radio-input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form__radio-input:checked + .form__radio-text::after {
  opacity: 1;
}
.form__radio-input:focus + .form__radio-text::before {
  border: 1px solid #e81919;
}

.form__radio-text {
  padding-left: 28px;
  position: relative;
}
.form__radio-text::before, .form__radio-text::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}
.form__radio-text::before {
  width: 20px;
  height: 20px;
  left: 0;
  border: 1px solid #707070;
}
.form__radio-text::after {
  width: 10px;
  height: 10px;
  left: 5px;
  background: #3f51b5;
  opacity: 0;
}

.form__privacy {
  margin-top: 67px;
  text-align: center;
}
@media not screen and (min-width: 768px) {
  .form__privacy {
    margin-top: 33px;
  }
}

.form__checkbox {
  text-align: left;
}

.form__checkbox-input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.form__checkbox-input:checked + .form__checkbox-text::after {
  opacity: 1;
}
.form__checkbox-input:focus + .form__checkbox-text::before {
  border: 1px solid #e81919;
}

.form__checkbox-text {
  position: relative;
  padding-left: 49px;
  display: inline-block;
}
.form__checkbox-text::before, .form__checkbox-text::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.form__checkbox-text::before {
  width: 25px;
  height: 25px;
  border: 1px solid #707070;
}
.form__checkbox-text::after {
  width: 25px;
  height: 25px;
  background: url("../img/checkbox.png") no-repeat center center/contain;
  opacity: 0;
}
.form__checkbox-text a {
  font-weight: 700;
  text-decoration: underline;
}

.form__button {
  margin-top: 35px;
  text-align: center;
}

.form__button-wrapper {
  display: inline-block;
  position: relative;
}
.form__button-wrapper::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 16px;
  background: url("../img/button-arrow.png") no-repeat center center/contain;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 12px;
}
.form__button-wrapper input {
  display: inline-block;
  padding: 20px 120px;
  border: 0;
  background: #3f51b5;
  color: #ffffff;
  font-weight: bold;
  border-radius: 8px;
}
@media not screen and (min-width: 768px) {
  .form__button-wrapper input {
    padding: 20px 83px;
  }
}

.footer {
  padding-top: 40px;
  padding-bottom: 24px;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #666666 0%, #333333 100%) 0% 0% no-repeat padding-box;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media not screen and (min-width: 768px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}

@media not screen and (min-width: 768px) {
  .footer__info {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__info {
    text-align: center;
  }
}

.footer__logo {
  width: 205px;
}

.footer__address {
  margin-top: 32px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.2;
}
@media not screen and (min-width: 768px) {
  .footer__address {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__address {
    margin-top: 20px;
  }
}

.footer__tel {
  margin-top: 14px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.2;
}

.footer__nav {
  padding-right: 83px;
}
@media not screen and (min-width: 768px) {
  .footer__nav {
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__nav {
    padding-right: 0;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
@media not screen and (min-width: 768px) {
  .footer__list {
    gap: 16px;
  }
}

.footer__item a {
  display: block;
  color: #ffffff;
}
@media not screen and (min-width: 768px) {
  .footer__item a {
    font-size: 14px;
  }
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.footer__icon a {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #55acee;
  border-radius: 50%;
}
.footer__icon--2 a {
  background-color: #3f51b5;
}
.footer__icon--3 a {
  background-color: #e81919;
}

.footer__copyright {
  margin-top: 46px;
  text-align: center;
}
.footer__copyright small {
  color: #ffffff;
  font-size: 14px;
}

.pagetop {
  position: fixed;
  bottom: 24px;
  right: 24px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
.pagetop.is-show {
  opacity: 1;
  visibility: visible;
}

.pagetop__button {
  display: block;
  width: 60px;
  height: 60px;
}