@charset "UTF-8";
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
@media not screen and (min-width: 768px) {
  html {
    scroll-padding-top: 60px;
  }
}

body {
  color: #333;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}

.inner {
  padding-inline: 40px;
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}
@media not screen and (min-width: 768px) {
  .inner {
    padding-inline: 16px;
  }
}

.head {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 14px;
  position: relative;
}
@media not screen and (min-width: 768px) {
  .head {
    font-size: 32px;
    padding-bottom: 8px;
  }
}
.head::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background: #3f51b5;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.inline-block {
  display: inline-block;
  font-weight: inherit;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  background: #3f51b5;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1607843137);
  z-index: 100;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media not screen and (min-width: 768px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 205px;
}
@media not screen and (min-width: 768px) {
  .header__logo {
    width: 182px;
  }
}
.header__logo img {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media not screen and (min-width: 768px) {
  .header__nav {
    display: none;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header__item a {
  display: inline-block;
  color: #ffffff;
  position: relative;
}
.header__item a.is-active::after {
  content: "";
  position: absolute;
  width: calc(100% - 3px);
  height: 2px;
  background: #e81919;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mv {
  width: 100%;
  background: url("../img/mainvisual.png") no-repeat center center/cover;
  margin-top: 100px;
  padding-block: 184px;
}
@media not screen and (min-width: 768px) {
  .mv {
    margin-top: 60px;
    padding-block: 120px;
  }
}

.mv__content {
  text-align: center;
  padding-inline: 16px;
}

.mv__title {
  font-size: 64px;
  font-weight: 700;
}
@media not screen and (min-width: 768px) {
  .mv__title {
    font-size: 32px;
    line-height: 1.3;
  }
}

.mv__lead {
  margin-top: 32px;
  font-size: 24px;
  font-weight: 700;
}
@media not screen and (min-width: 768px) {
  .mv__lead {
    margin-top: 18px;
    font-size: 18px;
  }
}

.mv__button {
  margin-top: 40px;
}
@media not screen and (min-width: 768px) {
  .mv__button {
    margin-top: 36px;
  }
}
.mv__button a {
  display: inline-block;
  padding-block: 24px;
  width: 384px;
  max-width: 100%;
  color: #ffffff;
  background-color: #3f51b5;
  font-size: 24px;
  font-weight: 700;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 8px;
}
@media not screen and (min-width: 768px) {
  .mv__button a {
    padding-block: 16px;
    width: 240px;
    font-size: 18px;
  }
}

.card {
  padding-block: 100px 120px;
  background: #efefef;
}
@media not screen and (min-width: 768px) {
  .card {
    padding-block: 60px 80px;
  }
}

.card__list {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
@media not screen and (min-width: 768px) {
  .card__list {
    margin-top: 40px;
    grid-template-columns: 1fr;
    width: 360px;
    max-width: 100%;
    margin-inline: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .card__list {
    grid-template-columns: repeat(2, 1fr);
    width: 750px;
    max-width: 100%;
    margin-inline: auto;
  }
}

.card__item a {
  display: block;
  padding: 16px;
  background: #ffffff;
  border-radius: 4px;
}

.card__title {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #6f7579;
}
@media not screen and (min-width: 768px) {
  .card__title {
    font-size: 18px;
  }
}

.card__lead {
  margin-top: 4px;
  font-weight: 700;
  color: #6f7579;
}
@media not screen and (min-width: 768px) {
  .card__lead {
    font-size: 14px;
  }
}