// 変数
$color-main: #3f51b5;
$color-accent: #e81919;
$color-text: #333;

$layout-width-inner: 1200px;

// ブレイクポイント
@use "sass:map";

$breakpoints: (
  sp: "not screen and (min-width: 768px)",
  tb: "screen and (min-width: 768px) and (max-width: #{$layout-width-inner})",
  pc: "screen and (min-width: #{$layout-width-inner})",
) !default;

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

// base
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;

  @include mq(sp) {
    scroll-padding-top: 60px;
  }
}

body {
  color: $color-text;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
}

// 共通
.section {
  padding-block: 100px 120px;
  background: #fff;

  @include mq(sp) {
    padding-block: 60px 80px;
  }

  &--gray {
    background: #efefef;
  }
}

.inner {
  padding-inline: 40px;
  width: calc($layout-width-inner + 20px * 2);
  max-width: 100%;
  margin: 0 auto;

  @include mq(sp) {
    padding-inline: 20px;
  }
}

.head {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 14px;
  position: relative;

  @include mq(sp) {
    font-size: 32px;
    padding-bottom: 8px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: $color-main;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.inline-block {
  display: inline-block;
  font-weight: inherit;
}

// header
.header {
  position: fixed;
  width: 100%;
  height: 100px;
  background: $color-main;
  box-shadow: 0px 3px 3px #00000029;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;

  @include mq(sp) {
    height: 60px;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;

  @include mq(sp) {
    padding-inline: 16px;
  }
}

.header__logo {
  width: 205px;

  @include mq(sp) {
    width: 182px;
  }

  img {
    display: block;
  }
}

.header__nav {
  display: flex;
  align-items: center;

  @include mq(sp) {
    display: none;
  }
}

.header__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__item {
  a {
    display: inline-block;
    color: #ffffff;
    position: relative;

    &.is-active {
      &::after {
        content: "";
        position: absolute;
        width: calc(100% - 3px);
        height: 2px;
        background: $color-accent;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

// mv
.mv {
  width: 100%;
  background: url("../img/mainvisual.png") no-repeat center center / cover;
  margin-top: 100px;
  padding-block: 184px;

  @include mq(sp) {
    margin-top: 60px;
    padding-block: 120px;
  }
}

.mv__content {
  text-align: center;
  padding-inline: 16px;
}

.mv__title {
  font-size: 64px;
  font-weight: 700;

  @include mq(sp) {
    font-size: 32px;
    line-height: 1.3;
  }
}

.mv__lead {
  margin-top: 32px;
  font-size: 24px;
  font-weight: 700;

  @include mq(sp) {
    margin-top: 18px;
    font-size: 18px;
  }
}

.mv__button {
  margin-top: 40px;

  @include mq(sp) {
    margin-top: 36px;
  }

  a {
    display: inline-block;
    padding-block: 24px;
    width: 384px;
    max-width: 100%;
    color: #ffffff;
    background-color: $color-main;
    font-size: 24px;
    font-weight: 700;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;

    @include mq(sp) {
      padding-block: 16px;
      width: 240px;
      font-size: 18px;
    }
  }
}

// card
.card {
}

.card__inner {
}

.card__head {
}

.card__list {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  @include mq(sp) {
    margin-top: 40px;
    grid-template-columns: 1fr;
    width: 360px;
    max-width: 100%;
    margin-inline: auto;
  }

  @include mq(tb) {
    grid-template-columns: repeat(2, 1fr);
    width: 750px;
    max-width: 100%;
    margin-inline: auto;
  }
}

.card__item {
  a {
    display: block;
    padding: 16px;
    background: #ffffff;
    border-radius: 4px;
  }
}

.card__image {
  img {
  }
}

.card__title {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #6f7579;

  @include mq(sp) {
    font-size: 18px;
  }
}

.card__lead {
  margin-top: 4px;
  font-weight: 700;
  color: #6f7579;

  @include mq(sp) {
    font-size: 14px;
  }
}

// news
.news {
}

.news__inner {
}

.news__head {
}

.news__list {
  margin-top: 80px;
  width: 800px;
  max-width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mq(sp) {
    margin-top: 40px;
  }
}

.news__article {
  display: flex;
  align-items: center;
  gap: 20px;

  @include mq(sp) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  &:not(:last-of-type) {
    padding-bottom: 12px;
    border-bottom: 1px solid #707070;
  }
}

.news__meta {
  flex-shrink: 0;
  width: 185px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.news__date {
  flex-shrink: 0;
  width: 85px;
}

.news__label {
  flex-grow: 1;
  font-weight: 700;
  line-height: calc(23 / 16);
  color: #ffffff;
  background: #666666;
  padding: 8px;
  border-radius: 4px;

  &--2 {
    background: $color-main;
  }
  &--3 {
    background: $color-accent;
  }
}

.news__title {
  flex-grow: 1;

  a {
    display: inline-block;
    line-height: calc(20 / 16);
  }
}

.news__button {
  margin-top: 60px;
  text-align: center;

  a {
    display: inline-block;
    padding-right: 14px;
    font-weight: 700;
    color: $color-accent;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 7px;
      height: 11px;
      background: url("../img/news-arrow.svg") no-repeat center center / contain;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
}

// price
.price {
}

.price__head {
}

.price__inner {
}

.price__content {
  margin-top: 80px;
  display: flex;
  gap: 40px;

  @include mq(sp) {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }
}

.price__image {
  @include mq(sp) {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.price__info {
  flex-shrink: 0;
  width: calc(706px / 1200px * 100%);

  @include mq(sp) {
    width: 100%;
  }
}

.price__table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;

  tr {
  }

  th,
  td {
    border: 1px solid #707070;
    vertical-align: middle;
    font-weight: 700;
    line-height: calc(22 / 16);
    padding-inline: 24px;
    height: 57px;

    @include mq(sp) {
      padding-inline: 8px;
    }

    &:first-child {
      width: calc(170px / 706px * 100%);
    }

    &:nth-child(2),
    &:nth-child(3) {
      // width: calc(266px / 706px * 100%);
    }
  }

  th {
    background: #999999;
    color: #ffffff;
  }

  td {
    background: #ffffff;
    text-align: right;
  }

  strong {
    display: block;
    color: $color-accent;
    font-weight: inherit;
  }

  span {
    display: block;
    font-size: 13px;
    font-weight: inherit;
  }
}

.price__note {
  margin-top: 12px;

  a {
    font-weight: 700;
    text-decoration: underline;
  }
}

// access
.access {
}

.access__inner {
  max-width: 800px;

  @include mq(sp) {
    max-width: 100%;
  }
}

.access__head {
}

.access__map {
  margin-top: 80px;
  width: 100%;
  height: 400px;
  overflow: hidden;

  @include mq(sp) {
    margin-top: 40px;
    height: 320px;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

.access__info {
  div {
    display: flex;
    align-items: center;
    margin-top: 16px;
    line-height: 1.2;

    @include mq(sp) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  dt {
    flex-shrink: 0;
    width: 104px;
    font-weight: 700;
  }

  dd {
    flex-grow: 1;

    @include mq(sp) {
      margin-top: 8px;
    }
  }
}

.access__button {
  margin-top: 30px;
  text-align: center;

  a {
    display: inline-block;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    background: $color-main;
    padding: 20px 77px;
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000029;
    position: relative;

    @include mq(sp) {
      padding: 20px 40px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 17px;
      height: 16px;
      background: url("../img/button-arrow.png") no-repeat center center /
        contain;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
    }
  }
}

// contact
.contact {
}

.contact__inner {
}

.contact__head {
}

.contact__box {
  margin-top: 80px;
  width: 800px;
  max-width: 100%;
  margin-inline: auto;
  background: #ffffff;
  padding: 60px;

  @include mq(sp) {
    margin-top: 40px;
    width: 100%;
    padding: 16px;
  }
}

// form
.form {
}

.form__fields {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include mq(sp) {
    gap: 33px;
  }
}

.form__field {
  display: flex;
  gap: 32px;

  @include mq(sp) {
    flex-direction: column;
    gap: 8px;
  }
}

.form__head {
  margin-top: 11px;
  flex-shrink: 0;
  width: 128px;
  position: relative;

  @include mq(sp) {
    display: flex;
    gap: 16px;
    width: 100%;
  }
}

.form__label {
  display: block;
  position: relative;
  font-weight: 700;
}

.form__tag {
  position: absolute;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.1;
  border-radius: 4px;
  background: $color-accent;
  bottom: 0;
  left: 0;
  transform: translateY(calc(100% + 8px));
  padding: 4px 8px;

  @include mq(sp) {
    position: relative;
    transform: none;
  }
}

.form__item {
  flex-grow: 1;
}

.form__text {
  width: 100%;
  font-size: 14px;
  padding: 12px 16px;
  line-height: 1;
  border: 1px solid #707070;
  border-radius: 0;

  &::placeholder {
    color: #cccccc;
  }

  &:focus {
    outline: none;
    border-color: $color-accent;
  }
}

.form__select {
  width: 100%;
  font-size: 14px;
  padding: 12px 16px;
  border: 1px solid #707070;
  border-radius: 0;
  appearance: none;
  background: url("../img/select-arrow.png") no-repeat center center / contain;
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 17px auto;

  &::placeholder {
    color: #cccccc;
  }

  &:focus {
    outline: none;
    border-color: $color-accent;
  }
}

.form__textarea {
  width: 100%;
  font-size: 14px;
  padding: 12px 16px;
  height: 240px;
  resize: vertical;
  border: 1px solid #707070;
  border-radius: 0;

  &::placeholder {
    color: #cccccc;
  }

  &:focus {
    outline: none;
    border-color: $color-accent;
  }
}

.form__radios {
  margin-top: 33px;
  display: flex;
  gap: 36px;

  @include mq(sp) {
    flex-direction: column;
    gap: 16px;
  }
}

.form__radio {
}

.form__radio-input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked + .form__radio-text {
    &::after {
      opacity: 1;
    }
  }

  &:focus + .form__radio-text {
    &::before {
      border: 1px solid $color-accent;
    }
  }
}

.form__radio-text {
  padding-left: 28px;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  &::before {
    width: 20px;
    height: 20px;
    left: 0;
    border: 1px solid #707070;
  }

  &::after {
    width: 10px;
    height: 10px;
    left: 5px;
    background: $color-main;
    opacity: 0;
  }
}

.form__privacy {
  margin-top: 67px;
  text-align: center;

  @include mq(sp) {
    margin-top: 33px;
  }
}

.form__checkbox {
  text-align: left;
}

.form__checkbox-input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked + .form__checkbox-text {
    &::after {
      opacity: 1;
    }
  }

  &:focus + .form__checkbox-text {
    &::before {
      border: 1px solid $color-accent;
    }
  }
}

.form__checkbox-text {
  position: relative;
  padding-left: 49px;
  display: inline-block;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &::before {
    width: 25px;
    height: 25px;
    border: 1px solid #707070;
  }

  &::after {
    width: 25px;
    height: 25px;
    background: url("../img/checkbox.png") no-repeat center center / contain;
    opacity: 0;
  }

  a {
    font-weight: 700;
    text-decoration: underline;
  }
}

.form__button {
  margin-top: 35px;
  text-align: center;
}

.form__button-wrapper {
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 16px;
    background: url("../img/button-arrow.png") no-repeat center center / contain;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
  }

  input {
    display: inline-block;
    padding: 20px 120px;
    border: 0;
    background: $color-main;
    color: #ffffff;
    font-weight: bold;
    border-radius: 8px;

    @include mq(sp) {
      padding: 20px 83px;
    }
  }
}
